.DS_Store
.rvmrc
/.vagrant*
/.chef
.bundle
.idea*
/cookbooks
environments/dev_*
data_bags/environments/dev_*
flavours/dev_*
site-cookbooks/dev_*
lib/tasks/dev_*
tmp
dist
vendor
scratchpad.txt
site-cookbooks/deployment/attributes/personal.rb
site-cookbooks/fh-lxc/files/default/*-cache.tgz
roles/production.json
**/jdk-6u43-linux-x64.bin
data_bags/nginx_ssl_certs/*henoranet.json
*~
nodes
.fhcap
.kitchen/
.kitchen.local.yml
.librarian/
bin/*
/test/integration