[OSEv3:children]
masters
nodes

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user={{ ansible_ssh_user }}
{% if ansible_ssh_private_key_file is defined %}
ansible_ssh_private_key_file={{ ansible_ssh_private_key_file }}
{% endif %}

# If ansible_ssh_user is not root, ansible_sudo must be set to true
{% if ansible_ssh_user != 'root' %}
ansible_sudo=true
{% endif %}

# To deploy origin, change deployment_type to origin
deployment_type=openshift-enterprise

{% if not use_released_registry %}
# Pre-release registry URL
oreg_url=rcm-img-docker01.build.eng.bos.redhat.com:5001/openshift3/ose-${component}:${version}
{% endif %}

{% if not install_released_ose %}
# Pre-release additional repo
openshift_additional_repos=[{'id': 'ose-devel', 'name': 'ose-devel', 'baseurl': 'http://buildvm-devops.usersys.redhat.com/puddle/build/AtomicOpenShift/3.1/latest/RH7-RHAOS-3.1/$basearch/os', 'enabled': 1, 'gpgcheck': 0}]
{% endif %}

# htpasswd auth
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# default subdomain to use for exposed routes
osm_default_subdomain={{ ose_apps }}.{{ ose_domain }}

# host group for masters
[masters]
{% for host in groups['master'] %}
{{ hostvars[host]['ose_ip'] }} openshift_ip={{ hostvars[host]['ose_ip'] }} openshift_hostname={{ hostvars[host]['ose_hostname'] }}.{{ ose_domain }} openshift_public_ip={{ hostvars[host]['ose_ip'] }} openshift_public_hostname={{ hostvars[host]['ose_hostname'] }}.{{ ose_domain }}  openshift_node_labels="{ 'region': '{{ hostvars[host]['ose_region'] }}', 'zone': '{{ hostvars[host]['ose_zone'] }}'}" openshift_node_schedulable=true
{% endfor %}

# host group for nodes
[nodes]
{% for host in groups['node'] %}
{{ hostvars[host]['ose_ip'] }} openshift_ip={{ hostvars[host]['ose_ip'] }}  openshift_hostname={{ hostvars[host]['ose_hostname'] }}.{{ ose_domain }}  openshift_public_ip={{ hostvars[host]['ose_ip'] }}  openshift_public_hostname={{ hostvars[host]['ose_hostname'] }}.{{ ose_domain }}  openshift_node_labels="{ 'region': '{{ hostvars[host]['ose_region'] }}', 'zone': '{{ hostvars[host]['ose_zone'] }}'}" openshift_node_schedulable=true
{% endfor %}
